[submodule "auth"]
	path = auth
	url = git@github.com:SwArch-2025-1-2A/auth.git
[submodule "groups_ms"]
	path = groups_ms
    url = git@github.com:SwArch-2025-1-2A/groups_ms.git  # Nueva URL
[submodule "bulk_ms"]
	path = bulk_ms
	url = git@github.com:SwArch-2025-1-2A/bulk_ms.git
[submodule "users_ms"]
	path = users_ms
	url = https://github.com/SwArch-2025-1-2A/users_ms
[submodule "categories_ms"]
	path = categories_ms
	url = https://github.com/SwArch-2025-1-2A/categories_ms
